@import url("https://fonts.googleapis.com/css2?family=Concert+One&display=swap");
/* * { */
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	display: flex;
	justify-content: center;
	/* align-items: center; */

	font-family: "Concert One", sans-serif;
}

#root {
	width: 35rem;
}
